SUPABASE_URL=https://kgrlvagayvrswzbdhibn.supabase.co
SUPABASE_ANON_KEY=sb_publishable_DujRRJguQRBauvHFlRaGIQ_speLMpxr
SUPABASE_FUNCTIONS_BASE_URL=https://kgrlvagayvrswzbdhibn.functions.supabase.co
RAZORPAY_TEST_KEY=rzp_test_SYXPePOa5wmPPQ
SUPABASE_AUTH_REDIRECT_URL=https://anjanam.app/auth/callback
SUPABASE_PASSWORD_RESET_REDIRECT_URL=https://anjanam.app/auth/reset-password